<a href="https://colab.research.google.com/github/safwaanh/lighthouse-python-fundamentals/blob/master/Katas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kata 1

Kata 1 Exercise - Create a function named sumLargestNumbers that will receive a list of numbers and return the sum of the two largest numbers in that array.

In [0]:
def sumLargestNumbers(num_list):
 
  sorted_numbers = []

  while num_list: 
    maximum = num_list[0] 
    for i in num_list:
      if i  > maximum: 
        maximum = i
    sorted_numbers.append(maximum)
    num_list.remove(maximum)
  
  sumLargest = sorted_numbers[0] + sorted_numbers[1]

  return sumLargest

# Kata 2


Kata 2 Exercise - Create a function named conditionalSum that will be given a list of numbers and a condition, in this case odd or even. Given this condition, add up only the values which match that condition. If no values match the condition, return 0.

In [0]:
def conditionalSum(num_list, condition):

  i_condition = str(condition.lower()) ## Just to make sure typos or case-sensitivities are eliminated

  sum = 0

  if i_condition == 'even':
    for i in num_list:
      if i % 2 == 0:
        sum +=i

  elif i_condition == 'odd':
    for i in num_list:m
      if i % 2 != 0:
        sum += i

  return sum

In [0]:
conditionalSum([2,3,41,5,12,4], 'even')

18

# Kata 3

Kata 3 - Create a function named numberOfVowels that will receive a string and return the number of vowels in that string.

In [0]:
def numberOfVowels(input_string):
  sumVowels = 0
  for i in input_string:
    if i == 'a':
      sumVowels += 1
    elif i == 'e':
      sumVowels +=1
    elif i == 'i':
      sumVowels += 1
    elif i == 'o':
      sumVowels += 1
    elif i == 'u':
      sumVowels += 1
    else:
      continue
  
  return sumVowels

In [0]:
numberOfVowels('Safwaan')

3

In [0]:
def numberOfVowels(input_string):
  
  sumVowels = 0
  vowels = ['a','e', 'i', 'o', 'u']

  for i in input_string:
    if i in vowels:
      sumVowels += 1
    else:
      continue
  
  return sumVowels

In [0]:
numberOfVowels('Lighthouse Labs')

5

# Kata 4


Kata 4 - Create a function named instructorWithLongestName that will receive a list of instructor dictionaries, and return the object that has the longest name. If there are two instructors with the longest name, return the first one.

In [0]:
[
  {name: "Samuel", course: "iOS"},
  {name: "Jeremiah", course: "Data"},
  {name: "Ophilia", course: "Web"},
  {name: "Donald", course: "Web"}
]

In [0]:
dict1 = [
  {"name": "Job", "course": "iOS"},
  {"name": "Jeremiah", "course": "Data"},
  {"name": "Ophilia", "course": "Web"},
  {"name": "Donald", "course": "Web"}
]

In [0]:
def longestName(inst_list):
    
    val_catch = list(inst_list[0].values())
    longest_name = val_catch[0]
    longest_name_index = 0

    for i  in range(len(inst_list)):
        name_finder = list(inst_list[i].values())
        name_catcher = name_finder[0]
        if len(name_catcher) > len(longest_name):
            longest_name = name_catcher
            longest_name_index = i

    return inst_list[longest_name_index]

In [0]:
longestName(dict1)

{'course': 'Data', 'name': 'Jeremiah'}

# Kata 5

Create a function named urlEncode that will receive a string of words, and return that string with all of the whitespace characters converted to %20. If there is whitespace on the outside of the string, like in our second example above, you should only replace the whitespace within the string.

In [0]:
text1 = 'SAFWAAN'
textIndex = list(range(len(text1)))

list_text1 = list(text1)

print(list_text1)

In [0]:
text1 = ' saf waan'
textIndex = list(range(len(text1)))

list_text1 = list(text1)

for i in textIndex:
  if list_text1[i] == ' ':
    if i == 0:
      continue
    elif i == textIndex[-1]:
      continue
    else:
      list_text1[i] = '%20'

list_text1.remove(' ')

output = ''.join(list_text1)

print(output)

print(len(output))

print(list(output))

In [0]:
def urlEncode(text):
  list_text = list(text)
  text_index = list(range(len(text)))

  for i in text_index:
    if list_text[i] == ' ':
      if i == 0:
        continue
      elif i == text_index[-1]:
        continue
      else:
        list_text[i] = '%20'
  
  if list_text.count(' ') > 0:
    list_text.remove(' ')
  
  if list_text[len(list_text) - 1] == ' ':
    del list_text[len(list_text)-1]

  URL = ''.join(list_text)
  
  return URL

In [0]:
print(urlEncode("blue is greener than purple for sure"))

# Kata 6

In [0]:
parkade_1 = [ ['s', 's', 's', 'S', 'R', 'M'],
              ['s', 'M', 's', 'S', 'r', 'M'],
              ['s', 'M', 's', 'S', 'r', 'm'], 
              ['S', 'r', 's', 'm', 'r', 'M'], 
              ['S', 'r', 's', 'm', 'r', 'M'], 
              ['S', 'r', 'S', 'M', 'M', 'S']  
             ]

In [0]:
## We're going to need two iterators. One that loops through each row and another that checks each column of every row

num_rows = len(spots)
print(num_rows)

row_index = list(range(num_rows))  ## Row index

print(list(range(num_rows)))

num_cols = len(spots[0]) ## Creating a col index in case parkade isnt square

col_index = list(range(num_cols)) ## Col Index

print(list(range(num_cols)))

In [0]:
## for j in row_index:
  ## for i in col_index:
   ## print(parkade_1[j][i]) ## This proves this loop can access individual values within the parkade list

In [0]:
vehicle_type = 'small'

vehicle_type = vehicle_type.lower() ## Correction for any errors in input

available_spot = []

if vehicle_type == 'regular':
  for j in row_index:
    for i in col_index:
      if parkade_1[j][i] == 'R':
        available_spot.append([i,j])
      else:
        False

if 'motorcycle' in vehicle_type: ## In case the plural is input
  for j in row_index:
    for i in col_index:
      if (parkade_1[j][i] == 'R' or parkade_1[j][i] == 'S' or parkade_1[j][i] == 'M'):
        available_spot.append([i,j])
      else:
        False

if vehicle_type == 'small':
  for j in row_index:
    for i in col_index:
      if (parkade_1[j][i] == 'R' or parkade_1[j][i] == 'S'):
        available_spot.append([i,j])
      else:
        False
 
available_spot

In [0]:
def whereCanIPark(spots, vehicle):

  num_rows = len(spots)
  row_index = list(range(num_rows))

  num_cols = len(spots[0]) ## Creating a col index in case parkade isnt square
  col_index = list(range(num_cols)) ## Col Index

  vehicle = vehicle.lower() ## Correction for any errors in input

  available_spots = [] ## Empty list where we all add available spots

  if vehicle == 'regular':
    for j in row_index:
      for i in col_index:
        if spots[j][i] == 'R':
          available_spots.append([i,j])
        else:
          False

  if 'motorcycle' in vehicle: ## In case the plural is input
    for j in row_index:
      for i in col_index:
        if (spots[j][i] == 'R' or spots[j][i] == 'S' or spots[j][i] == 'M'):
          available_spots = [i,j]
        else:
          False

  if vehicle == 'small':
    for j in row_index:
      for i in col_index:
        if (spots[j][i] == 'R' or spots[j][i] == 'S'):
          available_spots = [i,j]
        else:
          False

  return available_spots

In [0]:
print(whereCanIPark(
  [
    ['s', 's', 's', 'R', 's', 's'],
    ['s', 'm', 's', 'S', 'r', 's'],
    ['s', 'm', 's', 'S', 'r', 's'],
    ['S', 'r', 's', 'm', 'r', 's'],
    ['S', 'r', 's', 'm', 'R', 's'],
    ['S', 'r', 'S', 'M', 'm', 'S']
  ],
  'motorcycle'
))

# Kata 7

For this challenge, we will implement a function called checkAir(), which will check a collection of air samples. The function will take in two arguments. The first argument is a list of strings, where each string represents a small air sample that is either clean or dirty. The second argument is a number representing the highest acceptable amount of dirty samples. For example, a threshold of 0.4 means that there must be less than 40% of total samples classified as dirty for our air to be considered clean. Our function must return Polluted if there are too many dirty air samples, or Clean if the proportion of dirty samples is below the threshold.

In [0]:
samples = ['clean', 'clean', 'dirty', 'clean', 'dirty', 'clean', 'clean', 'dirty', 'clean', 'dirty']

k = 0
j = len(samples)

threshold = 0.3

for i in samples:
    if i == 'dirty':
      k += 1
# j += 1
conc = k/j

if conc > threshold:
    print("Polluted")
else:
    print("Clean")

print(k, j)

In [0]:
def checkAir(samples, threshold):
  
  k = 0
  j = len(samples)

  for i in samples:
    if i == 'dirty':
      k += 1
    

  conc = k/j

  if conc > threshold:
    status = "Polluted"
  else:
    status = "Clean"

  return status, k, j

In [0]:
checkAir(
  ['clean', 'clean', 'dirty', 'clean', 'dirty', 'clean', 'clean', 'dirty', 'clean', 'dirty'],
  0.3
)

In [0]:
print(checkAir(
  ['clean', 'dirty', 'clean', 'dirty', 'clean', 'dirty', 'clean'],
  0.9
))

# Kata 8

Create a function named repeatNumbers that will return a string with each of the given values repeated the appropriate number of times. If there are multiple sets of values each set should be separated by a comma. If there is only one set of values then you should omit the comma.

In [0]:
example = [[1, 2], [2, 3], [3,4]] ## fist is the value to repeat, second is the number of times it is repeated

## We will first need an iterator that accesses each of the nested lists

nest_index = list(range(len(example)))
print(nest_index)

In [0]:
## Within each nested list, we need to access the first and second values. We can probably use the same iterator + 1
## However, we know for sure that each sub-list has two values

t = []

for i in nest_index:
  f_value = str(example[i][0])
  s_value = example[i][1]
  output = (f_value * s_value)
  t.append(output)

print(t)

In [0]:
x1 = ', '.join(t)

In [0]:
print(x1)

In [0]:
def repeatNumbers(data):
  
  nest_index = list(range(len(data)))
  
  values_to_print = []

  for i in nest_index:
    f_value = str(data[i][0])
    s_value = data[i][1]
    loop_output = (f_value * s_value)
    values_to_print.append(loop_output)
  
  output = ', '.join(values_to_print)

  return output

In [0]:
print(repeatNumbers([[10, 4], [34, 6], [92, 2]]))

# Kata 9

Create a function named camelCase that will convert a string to a camel case, and return the result.

In [0]:
def camelCase(input):

  input_string_list = list(input)

  i_index = list(range(len(input_string_list)-1))

  for i in i_index:
    if input_string_list[i] == ' ':
        input_string_list[i+1] = input_string_list[i+1].upper()

  for i in input_string_list:
    if i == ' ':
      input_string_list.remove(i)

  camelCaseInput = ''.join(input_string_list)

  return camelCaseInput

In [0]:
print(camelCase("brother brother brother     "))

In [0]:
print(camelCase("loopy lighthouse"))

In [0]:
print(camelCase("supercalifragalisticexpialidocious"))

# Kata 10

Create a function named multiplicationTable that receives a number maxValue as input and creates a square multiplication table where maxValue is the largest value in the table.

In [0]:
maxValue = 5

i_index = list(range(1, maxValue + 1))

print(i_index)

In [0]:
def multiplicationTable(maxValue):
    
    
    i_index = list(range(1, maxValue + 1))
    

    for i in i_index:
        interim_list = []
        for j in i_index:
            mult = i * j
            mult_str = str(mult)
            interim_list.append(mult_str)
            if j == maxValue:
                final_output = ' '.join(interim_list)
                print(final_output)
    
    return

In [0]:
multiplicationTable(5)